<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Library" data-toc-modified-id="Library-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Library</a></span></li><li><span><a href="#Data-Ingestion" data-toc-modified-id="Data-Ingestion-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Data Ingestion</a></span></li><li><span><a href="#Data-Description-&amp;-Preparation" data-toc-modified-id="Data-Description-&amp;-Preparation-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Data Description &amp; Preparation</a></span><ul class="toc-item"><li><span><a href="#Basic-Info" data-toc-modified-id="Basic-Info-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Basic Info</a></span></li><li><span><a href="#Missing-Data" data-toc-modified-id="Missing-Data-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Missing Data</a></span></li><li><span><a href="#Balancity-of-Data" data-toc-modified-id="Balancity-of-Data-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Balancity of Data</a></span></li><li><span><a href="#Overall-Statistical-Description" data-toc-modified-id="Overall-Statistical-Description-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Overall Statistical Description</a></span></li><li><span><a href="#Overall-Pandas-Profiling" data-toc-modified-id="Overall-Pandas-Profiling-3.5"><span class="toc-item-num">3.5&nbsp;&nbsp;</span>Overall Pandas Profiling</a></span></li><li><span><a href="#Data-Processing" data-toc-modified-id="Data-Processing-3.6"><span class="toc-item-num">3.6&nbsp;&nbsp;</span>Data Processing</a></span><ul class="toc-item"><li><span><a href="#Removing-duplicate-column" data-toc-modified-id="Removing-duplicate-column-3.6.1"><span class="toc-item-num">3.6.1&nbsp;&nbsp;</span>Removing duplicate column</a></span></li><li><span><a href="#Removing-high-cardinality-&amp;-unique-columns" data-toc-modified-id="Removing-high-cardinality-&amp;-unique-columns-3.6.2"><span class="toc-item-num">3.6.2&nbsp;&nbsp;</span>Removing high cardinality &amp; unique columns</a></span></li><li><span><a href="#Removing-high-missing-values-columns-(>20%)" data-toc-modified-id="Removing-high-missing-values-columns-(>20%)-3.6.3"><span class="toc-item-num">3.6.3&nbsp;&nbsp;</span>Removing high missing values columns (&gt;20%)</a></span></li><li><span><a href="#Removing-geospatial-related-columns" data-toc-modified-id="Removing-geospatial-related-columns-3.6.4"><span class="toc-item-num">3.6.4&nbsp;&nbsp;</span>Removing geospatial related columns</a></span></li><li><span><a href="#Removing-no-info-/-not-enough-info-columns" data-toc-modified-id="Removing-no-info-/-not-enough-info-columns-3.6.5"><span class="toc-item-num">3.6.5&nbsp;&nbsp;</span>Removing no-info / not enough info columns</a></span></li><li><span><a href="#Removing-unnessary-columns-(description)" data-toc-modified-id="Removing-unnessary-columns-(description)-3.6.6"><span class="toc-item-num">3.6.6&nbsp;&nbsp;</span>Removing unnessary columns (description)</a></span></li><li><span><a href="#Removing-Unsupported-Type-Colums" data-toc-modified-id="Removing-Unsupported-Type-Colums-3.6.7"><span class="toc-item-num">3.6.7&nbsp;&nbsp;</span>Removing Unsupported Type Colums</a></span></li><li><span><a href="#Data-Imputation-for-missing-N-value" data-toc-modified-id="Data-Imputation-for-missing-N-value-3.6.8"><span class="toc-item-num">3.6.8&nbsp;&nbsp;</span>Data Imputation for missing N value</a></span></li><li><span><a href="#Data-Imputation-for-missing-value,-replaced-by-Other-/-Unknown" data-toc-modified-id="Data-Imputation-for-missing-value,-replaced-by-Other-/-Unknown-3.6.9"><span class="toc-item-num">3.6.9&nbsp;&nbsp;</span>Data Imputation for missing value, replaced by Other / Unknown</a></span></li><li><span><a href="#Data-Cleanup-for-Y/N-columns,-making-sure-only-&quot;Y&quot;-or-&quot;N&quot;" data-toc-modified-id="Data-Cleanup-for-Y/N-columns,-making-sure-only-&quot;Y&quot;-or-&quot;N&quot;-3.6.10"><span class="toc-item-num">3.6.10&nbsp;&nbsp;</span>Data Cleanup for Y/N columns, making sure only "Y" or "N"</a></span></li><li><span><a href="#Transforming-Y/N-into-1-or-0-(Label-Encoding)-for-integration-with-Model" data-toc-modified-id="Transforming-Y/N-into-1-or-0-(Label-Encoding)-for-integration-with-Model-3.6.11"><span class="toc-item-num">3.6.11&nbsp;&nbsp;</span>Transforming Y/N into 1 or 0 (Label Encoding) for integration with Model</a></span></li><li><span><a href="#Transforming-1/2-of-severity-code-into-1-or-0-(Label-Encoding)-for-integration-with-Model" data-toc-modified-id="Transforming-1/2-of-severity-code-into-1-or-0-(Label-Encoding)-for-integration-with-Model-3.6.12"><span class="toc-item-num">3.6.12&nbsp;&nbsp;</span>Transforming 1/2 of severity code into 1 or 0 (Label Encoding) for integration with Model</a></span></li><li><span><a href="#Transforming-Accident-Datetime-column-into-Weekend/Weekday-&amp;-Day/Evening" data-toc-modified-id="Transforming-Accident-Datetime-column-into-Weekend/Weekday-&amp;-Day/Evening-3.6.13"><span class="toc-item-num">3.6.13&nbsp;&nbsp;</span>Transforming Accident Datetime column into Weekend/Weekday &amp; Day/Evening</a></span></li></ul></li></ul></li><li><span><a href="#Exploratory-Data-Analysis-(EDA)" data-toc-modified-id="Exploratory-Data-Analysis-(EDA)-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Exploratory Data Analysis (EDA)</a></span></li><li><span><a href="#Model-Training,-Prediction-&amp;-Results" data-toc-modified-id="Model-Training,-Prediction-&amp;-Results-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Model Training, Prediction &amp; Results</a></span></li></ul></div>

# Library

In [250]:
import pandas as pd
import numpy as np 
from pandas_profiling import ProfileReport

# Data Ingestion

In [251]:
df = pd.read_csv("data/Data-Collisions.csv")

/home2/azizi/pyvenv/ds1/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (33) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [252]:
df.columns

Index(['SEVERITYCODE', 'X', 'Y', 'OBJECTID', 'INCKEY', 'COLDETKEY', 'REPORTNO',
       'STATUS', 'ADDRTYPE', 'INTKEY', 'LOCATION', 'EXCEPTRSNCODE',
       'EXCEPTRSNDESC', 'SEVERITYCODE.1', 'SEVERITYDESC', 'COLLISIONTYPE',
       'PERSONCOUNT', 'PEDCOUNT', 'PEDCYLCOUNT', 'VEHCOUNT', 'INCDATE',
       'INCDTTM', 'JUNCTIONTYPE', 'SDOT_COLCODE', 'SDOT_COLDESC',
       'INATTENTIONIND', 'UNDERINFL', 'WEATHER', 'ROADCOND', 'LIGHTCOND',
       'PEDROWNOTGRNT', 'SDOTCOLNUM', 'SPEEDING', 'ST_COLCODE', 'ST_COLDESC',
       'SEGLANEKEY', 'CROSSWALKKEY', 'HITPARKEDCAR'],
      dtype='object')

In [253]:
df.head()

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,2,-122.323148,47.703140,1,1307,1307,3502005,Matched,Intersection,37475.0,...,Wet,Daylight,NaN,NaN,NaN,10,Entering at angle,0,0,N
1,1,-122.347294,47.647172,2,52200,52200,2607959,Matched,Block,NaN,...,Wet,Dark - Street Lights On,NaN,6354039.0,NaN,11,From same direction - both going straight - bo...,0,0,N
2,1,-122.334540,47.607871,3,26700,26700,1482393,Matched,Block,NaN,...,Dry,Daylight,NaN,4323031.0,NaN,32,One parked--one moving,0,0,N
3,1,-122.334803,47.604803,4,1144,1144,3503937,Matched,Block,NaN,...,Dry,Daylight,NaN,NaN,NaN,23,From same direction - all others,0,0,N
4,2,-122.306426,47.545739,5,17700,17700,1807429,Matched,Intersection,34387.0,...,Wet,Daylight,NaN,4028032.0,NaN,10,Entering at angle,0,0,N

In [254]:
# We are going to use data involving car (vehicle)
df = df[df["VEHCOUNT"] > 0]

# Data Description & Preparation

## Basic Info

In [255]:
df.columns

Index(['SEVERITYCODE', 'X', 'Y', 'OBJECTID', 'INCKEY', 'COLDETKEY', 'REPORTNO',
       'STATUS', 'ADDRTYPE', 'INTKEY', 'LOCATION', 'EXCEPTRSNCODE',
       'EXCEPTRSNDESC', 'SEVERITYCODE.1', 'SEVERITYDESC', 'COLLISIONTYPE',
       'PERSONCOUNT', 'PEDCOUNT', 'PEDCYLCOUNT', 'VEHCOUNT', 'INCDATE',
       'INCDTTM', 'JUNCTIONTYPE', 'SDOT_COLCODE', 'SDOT_COLDESC',
       'INATTENTIONIND', 'UNDERINFL', 'WEATHER', 'ROADCOND', 'LIGHTCOND',
       'PEDROWNOTGRNT', 'SDOTCOLNUM', 'SPEEDING', 'ST_COLCODE', 'ST_COLDESC',
       'SEGLANEKEY', 'CROSSWALKKEY', 'HITPARKEDCAR'],
      dtype='object')

In [256]:
print("Number of attributes : ", len(df.columns))

Number of attributes :  38

In [257]:
print("Number of observations : ", len(df))

Number of observations :  189588

## Missing Data

In [258]:
print("Number of missing data for column 'ROADCOND' : ", df["ROADCOND"].isna().sum())

Number of missing data for column 'ROADCOND' :  126

In [259]:
df.isna().sum()

SEVERITYCODE           0
X                   5186
Y                   5186
OBJECTID               0
INCKEY                 0
COLDETKEY              0
REPORTNO               0
STATUS                 0
ADDRTYPE            1818
INTKEY            126118
LOCATION            2565
EXCEPTRSNCODE     109777
EXCEPTRSNDESC     184725
SEVERITYCODE.1         0
SEVERITYDESC           0
COLLISIONTYPE         20
PERSONCOUNT            0
PEDCOUNT               0
PEDCYLCOUNT            0
VEHCOUNT               0
INCDATE                0
INCDTTM                0
JUNCTIONTYPE        6176
SDOT_COLCODE           0
SDOT_COLDESC           0
INATTENTIONIND    159800
UNDERINFL              0
WEATHER              194
ROADCOND             126
LIGHTCOND            284
PEDROWNOTGRNT     184954
SDOTCOLNUM         74837
SPEEDING          180262
ST_COLCODE            17
ST_COLDESC            20
SEGLANEKEY             0
CROSSWALKKEY           0
HITPARKEDCAR           0
dtype: int64

## Balancity of Data

In [260]:
targetCol = "SEVERITYCODE"

In [261]:
df[targetCol].value_counts()

1    132627
2     56961
Name: SEVERITYCODE, dtype: int64

We could see that the dataset is imbalanced.

## Overall Statistical Description

In [262]:
df.describe()

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,INTKEY,SEVERITYCODE.1,PERSONCOUNT,PEDCOUNT,PEDCYLCOUNT,VEHCOUNT,SDOT_COLCODE,SDOTCOLNUM,SEGLANEKEY,CROSSWALKKEY
count,189588.000000,184402.000000,184402.000000,189588.000000,189588.000000,189588.000000,63470.000000,189588.000000,189588.000000,189588.000000,189588.000000,189588.000000,189588.000000,1.147510e+05,189588.000000,1.895880e+05
mean,1.300446,-122.330505,47.619521,106817.220979,138402.592210,138596.750928,37502.213818,1.300446,2.460061,0.037703,0.028019,1.972298,13.884196,7.968383e+06,260.714275,9.800749e+03
std,0.458453,0.030026,0.056230,62222.443268,85301.472291,85638.254616,51365.581899,0.458453,1.355109,0.199670,0.165951,0.554339,6.701585,2.550992e+06,3293.690652,7.235521e+04
min,1.000000,-122.419091,47.495573,1.000000,1001.000000,1001.000000,23807.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.007024e+06,0.000000,0.000000e+00
25%,1.000000,-122.348859,47.575873,53116.750000,69096.750000,69096.750000,28667.000000,1.000000,2.000000,0.000000,0.000000,2.000000,11.000000,6.039024e+06,0.000000,0.000000e+00
50%,1.000000,-122.330168,47.615357,104253.500000,120591.500000,120591.500000,29973.000000,1.000000,2.000000,0.000000,0.000000,2.000000,13.000000,8.022004e+06,0.000000,0.000000e+00
75%,2.000000,-122.311918,47.663835,160018.250000,199153.250000,199293.250000,33984.000000,2.000000,3.000000,0.000000,0.000000,2.000000,14.000000,1.015301e+07,0.000000,0.000000e+00
max,2.000000,-122.238949,47.734142,219547.000000,331342.000000,332842.000000,757580.000000,2.000000,81.000000,6.000000,2.000000,12.000000,69.000000,1.307202e+07,525241.000000,5.239700e+06

## Overall Pandas Profiling

In [263]:
output_filename = 'output/ibm_applied_ds_capstone_profiling_overall.html'
profile = ProfileReport(df, title='Data Profiling of Collisions Data', explorative=True)
profile.to_file(output_file=output_filename)

HBox(children=(FloatProgress(value=0.0, description='Summarize dataset', max=53.0, style=ProgressStyle(descrip…

HBox(children=(FloatProgress(value=0.0, description='Generate report structure', max=1.0, style=ProgressStyle(…

/home2/azizi/pyvenv/ds1/lib/python3.6/site-packages/pandas_profiling/visualisation/plot.py:154: MatplotlibDeprecationWarning: You are modifying the state of a globally registered colormap. In future versions, you will not be able to modify a registered colormap in-place. To remove this warning, you can make a copy of the colormap first. cmap = copy.copy(mpl.cm.get_cmap("RdBu"))
  cmap.set_bad(cmap_bad)

HBox(children=(FloatProgress(value=0.0, description='Render HTML', max=1.0, style=ProgressStyle(description_wi…

HBox(children=(FloatProgress(value=0.0, description='Export report to file', max=1.0, style=ProgressStyle(desc…

Kindly open the weblink below for the profiling information<br>
<a href="https://zyron92.github.io/coursera/ibm_applied_ds_capstone_profiling_overall.html">Overall Data Profiling</a>

## Data Processing

### Removing duplicate column

In [264]:
df.drop(columns=["SEVERITYCODE.1","INCDATE"], inplace=True, axis=1)

### Removing high cardinality & unique columns

In [265]:
df.drop(columns=["REPORTNO",'OBJECTID', 'INCKEY', 'COLDETKEY'], inplace=True, axis=1)

### Removing high missing values columns (>20%)

In [266]:
df.drop(columns=["INTKEY","EXCEPTRSNCODE","EXCEPTRSNDESC","SDOTCOLNUM"], inplace=True, axis=1)

### Removing geospatial related columns

In [267]:
df.drop(columns=['ADDRTYPE', 'LOCATION'], inplace=True, axis=1)

### Removing no-info / not enough info columns

In [268]:
df.drop(columns=['X', 'Y', 'STATUS','SEGLANEKEY','CROSSWALKKEY'], inplace=True, axis=1)

### Removing unnessary columns (description)

In [269]:
df.drop(columns=['SEVERITYDESC','SDOT_COLDESC','ST_COLDESC'], inplace=True, axis=1)

### Removing Unsupported Type Colums

In [270]:
df.drop(columns=["ST_COLCODE"], inplace=True, axis=1)

### Data Imputation for missing N value

In [271]:
df["INATTENTIONIND"] = np.where(df["INATTENTIONIND"].isnull(), "N", df["INATTENTIONIND"])
df["PEDROWNOTGRNT"] = np.where(df["PEDROWNOTGRNT"].isnull(), "N", df["PEDROWNOTGRNT"])
df["SPEEDING"] = np.where(df["SPEEDING"].isnull(), "N", df["SPEEDING"])
df["UNDERINFL"] = np.where(df["UNDERINFL"].isnull(), "N", df["UNDERINFL"])

### Data Imputation for missing value, replaced by Other / Unknown

In [272]:
df["COLLISIONTYPE"] = np.where(df["COLLISIONTYPE"].isnull(), "Other", df["COLLISIONTYPE"])
df["JUNCTIONTYPE"] = np.where(df["JUNCTIONTYPE"].isnull(), "Unknown", df["JUNCTIONTYPE"])
df["WEATHER"] = np.where(df["WEATHER"].isnull(), "Unknown", df["WEATHER"])
df["ROADCOND"] = np.where(df["ROADCOND"].isnull(), "Unknown", df["ROADCOND"])
df["LIGHTCOND"] = np.where(df["LIGHTCOND"].isnull(), "Unknown", df["LIGHTCOND"])

### Data Cleanup for Y/N columns, making sure only "Y" or "N"

In [273]:
df["UNDERINFL"] = np.where(df["UNDERINFL"]=="0", "N", df["UNDERINFL"])
df["UNDERINFL"] = np.where(df["UNDERINFL"]=="1", "Y", df["UNDERINFL"])

In [274]:
df[["UNDERINFL","INATTENTIONIND","PEDROWNOTGRNT","SPEEDING","UNDERINFL"]].dtypes

UNDERINFL         object
INATTENTIONIND    object
PEDROWNOTGRNT     object
SPEEDING          object
UNDERINFL         object
dtype: object

### Transforming Y/N into 1 or 0 (Label Encoding) for integration with Model

In [275]:
cols = ["INATTENTIONIND","HITPARKEDCAR","PEDROWNOTGRNT","SPEEDING","UNDERINFL"]
for col in cols :
    df[col+"_ENC"] = np.where(df[col].str.strip()=="Y", 1, 0)
df.drop(columns=cols, axis=1, inplace=True)

### Transforming 1/2 of severity code into 1 or 0 (Label Encoding) for integration with Model

Multiclass to single class, 1:Injury 0:Non-Injury

In [276]:
df["SEVERITYCODE_INJURY"] = np.where(df['SEVERITYCODE']==2,1,0)
df.drop(columns=['SEVERITYCODE'], axis=1, inplace=True)

### Transforming Accident Datetime column into Weekend/Weekday & Day/Evening

In [277]:
df["INCDTTM_ENC"] = pd.to_datetime(df["INCDTTM"])
df["isWeekend"] = np.where(df["INCDTTM_ENC"].dt.dayofweek >= 5, 1, 0)
df["isNight"] = np.where(df["INCDTTM_ENC"].dt.hour >= 18, 1, 0)
df.drop(columns=["INCDTTM_ENC","INCDTTM"],axis=1,inplace=True)

In [278]:
output_filename = 'output/ibm_applied_ds_capstone_profiling_final.html'
profile = ProfileReport(df, title='Data Profiling of Collisions Data FINAL', explorative=True)
profile.to_file(output_file=output_filename)

HBox(children=(FloatProgress(value=0.0, description='Summarize dataset', max=33.0, style=ProgressStyle(descrip…

HBox(children=(FloatProgress(value=0.0, description='Generate report structure', max=1.0, style=ProgressStyle(…

/home2/azizi/pyvenv/ds1/lib/python3.6/site-packages/pandas_profiling/visualisation/plot.py:154: MatplotlibDeprecationWarning: You are modifying the state of a globally registered colormap. In future versions, you will not be able to modify a registered colormap in-place. To remove this warning, you can make a copy of the colormap first. cmap = copy.copy(mpl.cm.get_cmap("RdBu"))
  cmap.set_bad(cmap_bad)

HBox(children=(FloatProgress(value=0.0, description='Render HTML', max=1.0, style=ProgressStyle(description_wi…

HBox(children=(FloatProgress(value=0.0, description='Export report to file', max=1.0, style=ProgressStyle(desc…

# Exploratory Data Analysis (EDA)

# Model Training, Prediction & Results

In [ ]:
TBC, expected finished by today